@typeparam TItem

@if (Item == null)
{
    <div class="cell" style="@(Column.GetCellStyles())">...</div>
}
else
{
    <div class="cell @(Column.CellClass?.Invoke(Item))" style="@(Column.GetCellStyles())">
        @if (Column.ChildContent != null)
            @Column.ChildContent.Invoke(Item)
        else
            @Column.GetData(Item)
    </div>
}