@namespace TopUI.Blazor.Bootstrap.Components
@inherits BootstrapComponent

<div @attributes=AdditionalAttributes>
    <div class="indicators">
        <div class="seq"></div>
        <div class="icon">
            @if (Mode == StepperItemMode.Done && !string.IsNullOrEmpty(Stepper.DoneIcon))
            {
                <i class="@Stepper.DoneIcon"></i>
            }
            else if (Mode == StepperItemMode.Active && !string.IsNullOrEmpty(Stepper.ActiveIcon))
            {
                <i class="@Stepper.ActiveIcon"></i>
            }
            else if (Mode == StepperItemMode.ToDo && !string.IsNullOrEmpty(Stepper.TodoIcon))
            {
                <i class="@Stepper.TodoIcon"></i>
            }
        </div>
        <div class="seq"></div>
    </div>
    <div class="content">
        <div>@Title</div>
        @if (!string.IsNullOrEmpty(Description))
        {
            <div class="description">@Description</div>
        }
    </div>
</div>
