@using TopUI.Blazor.Bootstrap.Services.Abstractions;

<div class="mb-3">
    @Message
</div>
<div class="modal-footer mx-n3 mb-n3">
    @if ((Buttons & MessageBoxButton.Ok) == MessageBoxButton.Ok)
    {
        <button class="btn btn-primary" @onclick="@(()=>{ BootstrapJs.CloseDialog(MessageBoxButton.Ok); })">Ok</button>
    }
    @if ((Buttons & MessageBoxButton.Cancel) == MessageBoxButton.Cancel)
    {
        <button class="btn btn-secondary" @onclick="@(()=>{ BootstrapJs.CloseDialog(MessageBoxButton.Cancel); })">Cancel</button>
    }
    @if ((Buttons & MessageBoxButton.Yes) == MessageBoxButton.Yes)
    {
        <button class="btn btn-primary" @onclick="@(()=>{ BootstrapJs.CloseDialog(MessageBoxButton.Yes); })">Yes</button>
    }
    @if ((Buttons & MessageBoxButton.No) == MessageBoxButton.No)
    {
        <button class="btn btn-secondary" @onclick="@(()=>{ BootstrapJs.CloseDialog(MessageBoxButton.No); })">No</button>
    }
    @if ((Buttons & MessageBoxButton.Retry) == MessageBoxButton.Retry)
    {
        <button class="btn btn-secondary" @onclick="@(()=>{ BootstrapJs.CloseDialog(MessageBoxButton.Retry); })">Retry</button>
    }
</div>

@code {
    [Parameter] public string Message { get; set; } = default!;
    [Parameter] public MessageBoxButton Buttons { get; set; } = MessageBoxButton.Ok;
    [Parameter] public MessageBoxIcon Icon { get; set; } = MessageBoxIcon.None;
    [Inject] private IBootstrapJs BootstrapJs { get; set; } = default!;
}